* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #222222;
}

/* start header section settings */
.section {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

#header {
  width: 1140px;
  background-image: url('../Images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#filter {
  background-color: rgba(0, 0, 0, 0.6);
}

/* start navbar settings */
#navbar {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
}

#nav_link {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

a {
  padding-right: 10px;
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

/* end header section settings */

.clear {
  clear: both;
}

.header_content {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.text {
  width: 60%;
  position: absolute;
  left: 0;
  color: #c3bebe;
  padding: 130px 10px 130px;
}

.data {
  width: 40%;
  position: absolute;
  right: 0;
  border: thin solid #3c4355;
  background-color: rgba(94, 94, 129, 0.2);
  color: #c3bebe;
  padding: 20px 30px;
}
table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 15px;
  margin-top: 30px;
}

caption {
  text-align: left;
  margin-bottom: 5px;
  padding-left: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f3f0f9;
  text-transform: capitalize;
}

.select,
input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
}

#button {
  font-size: 1rem;
  font-weight: 600;
  color: #f9ddce;
  background-color: #f9b700;
  border: none;
}

#button:hover {
  color: #000000;
  background-color: #f9b700;
}

.text h1,
.text h5,
.text p {
  color: #ffffff;
  margin-bottom: 30px;
}

.text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.text h5 {
  font-size: 1rem;
  text-transform: uppercase;
}

button {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 40px;
  padding: 10px 40px;
  color: #f9ddce;
  text-transform: uppercase;
  background-color: #f9b700;
  border: none;
  cursor: pointer;
}

button:hover {
  color: #000000;
  background-color: #f9b700;
}

/* start services section */

#secondsection {
  background-color: #ffffff;
}

.textcenteralization {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
}

.textcenteralization h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.textcenteralization h5 {
  font-size: 1rem;
  color: #abafbd;
}

.services {
  float: left;
  width: 30%;
  border: none;
  border-radius: 10px;
  background-color: #ededf7;
  padding: 25px 20px;
  margin-top: 30px;
  margin-left: 30px;
}
.services img {
  float: left;
}

.services h3 {
  float: left;
  margin-left: 10px;
}
.services p {
  margin-top: 20px;
  text-align: justify;
  color: #abafbd;
}

#servicescard {
  position: relative;
}
