* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #222222;
}

/* start header section settings */
.section {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

#header {
  width: 1140px;
  background-image: url('../Images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#header #filter {
  background-color: rgba(0, 0, 0, 0.6);
}

/* start navbar settings */
#header #navbar,
.header_content {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
}

#header #nav_link {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

#header a {
  padding-right: 10px;
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

#header a:hover {
  border-bottom: 2px solid #f9b700;
  font-size: 1rem;
  padding: 0;
}

/* end header section settings */

.clear {
  clear: both;
}

#header #filter .text {
  width: 65%;
  float: left;
  color: #c3bebe;
  padding: 130px 10px 130px;
}

#header .data {
  width: 35%;
  float: left;
  border: thin solid #3c4355;
  background-color: rgba(94, 94, 129, 0.2);
  color: #c3bebe;
  padding: 20px 30px;
}
#header table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 15px;
  margin-top: 30px;
}

#header caption {
  text-align: left;
  margin-bottom: 5px;
  padding-left: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f3f0f9;
  text-transform: capitalize;
}

#header .select,
input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  color: #767676;
}

#header #button {
  font-size: 1rem;
  font-weight: 600;
  color: #f9ddce;
  background-color: #f9b700;
  border: none;
  cursor: pointer;
}

#header #button:hover {
  color: #000000;
  background-color: #f9b700;
}

#header .text h1,
.text h5,
.text p {
  color: #ffffff;
  margin-bottom: 30px;
}

#header .text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
#header .text h5 {
  font-size: 1rem;
  text-transform: uppercase;
}

#header button {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 40px;
  padding: 10px 40px;
  color: #f9ddce;
  text-transform: uppercase;
  background-color: #f9b700;
  border: none;
  cursor: pointer;
}

#header button:hover {
  color: #000000;
  background-color: #f9b700;
}

/* start section number two */

#secondsection {
  background-color: #ffffff;
}

#secondsection .textcenteralization,
#fourthsection .textcenteralization,
#fifthsection .textcenteralization,
#sixthsection .textcenteralization {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
}

#secondsection .textcenteralization,
#fourthsection .textcenteralization,
#sixthsection .textcenteralization {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
}

#secondsection .textcenteralization h2,
#fourthsection .textcenteralization h2,
#sixthsection .textcenteralization h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

#secondsection .textcenteralization h5,
#fourthsection .textcenteralization h5,
#sixthsection .textcenteralization h5 {
  font-size: 1rem;
  color: #abafbd;
}

#secondsection .services {
  float: left;
  width: 30%;
  border: none;
  border-radius: 10px;
  background-color: #ededf7;
  padding: 25px 20px;
  margin-top: 30px;
  margin-left: 30px;
}
#secondsection .services img {
  float: left;
}

#secondsection .services h3 {
  float: left;
  margin-left: 10px;
}
#secondsection .services p {
  margin-top: 20px;
  text-align: justify;
  color: #abafbd;
}

/* end section number two */

/* start section number three*/
#thirdsection,
#fourthsection {
  background-color: #ffffff;
  padding-top: 30px;
}

#thirdsection .header_content,
#fourthsection .header_content,
#footer.header_content {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

#thirdsection .header_content {
  padding: 70px 0px;
}

#fourthsection .header_content {
  padding-top: 0;
}

#thirdsection .data,
#fourthsection .data {
  width: 55%;
  float: left;
  background-color: #ffffff;
  color: #c3bebe;
  object-fit: contain;
}

#thirdsection .data {
  padding-left: 20px;
}

#fourthsection .data {
  padding-right: 50px;
}

#thirdsection .data img,
#fourthsection .data img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#thirdsection .text,
#fourthsection .text {
  width: 45%;
  float: left;
  color: #c3bebe;
}

#thirdsection .text {
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 70px;
}

#fourthsection .text {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 70px;
}

#thirdsection .text h1,
#thirdsection .text h5,
#thirdsection .text p,
#fourthsection .text h1,
#fourthsection .text h5,
#fourthsection .text p {
  color: #16142d;
  margin-bottom: 20px;
}

#thirdsection .text p,
#fourthsection .text p {
  color: #918bb7;
  text-align: justify;
}

#thirdsection .text h1,
#fourthsection .text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: capitalize;
}
#thirdsection .text h5,
#fourthsection .text h5 {
  font-size: 1rem;
}

#thirdsection button,
#fourthsection button {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
  padding: 10px 40px;
  color: #f9ddce;
  text-transform: uppercase;
  background-color: #f9b700;
  border: none;
  cursor: pointer;
}

#fourthsection button {
  background-color: #222222;
}

#thirdsection button:hover,
#fourthsection button:hover {
  color: #000000;
  background-color: #f9b700;
}

#fourthsection .text h5 {
  float: left;
}

#fourthsection .text h1 {
  float: right;
  line-height: 1px;
  color: #f9b700;
}

#fourthsection .text small {
  float: right;
  line-height: 1px;
  text-transform: lowercase;
  font-size: 1.5rem;
}

#fourthsection .text ul {
  list-style-type: none;
  color: #918bb7;
}

#fifthsection {
  background-image: url('../Images/callaction-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#fifthsection,
#fifthsection .section {
  min-height: 50vh;
}

#fifthsection #filter2 {
  background-color: rgba(0, 0, 0, 0.6);
}

#fifthsection .section .textcenteralization {
  padding: 80px 0;
  margin: 0px 0;
}

#fifthsection .section .textcenteralization h2 {
  margin-bottom: 10px;
  font-size: 2.5rem;
  color: #fffffb;
  text-transform: capitalize;
}

#fifthsection .section .textcenteralization h5 {
  font-size: 1rem;
  font-weight: normal;
  color: #fffffb;
}

#fifthsection button {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 30px;
  padding: 10px 40px;
  color: #f9b700;
  text-transform: uppercase;
  background-color: transparent;
  border: thin solid #f9b700;
  cursor: pointer;
}

#fifthsection button:hover {
  color: #000000;
  background-color: #f9b700;
}

#sixthsection {
  background-color: #ffffff;
  padding-top: 20px;
}

#sixthsection #socialcard {
  margin-left: 40px;
  margin-top: 100px;
}

#sixthsection .services {
  width: 20%;
  float: left;
  border: none;
  border-radius: 0px;
  padding: 0;
  margin-top: 30px;
  margin-left: 30px;
}

#sixthsection .services:first-child {
  margin-left: 60px;
}

#sixthsection .services > img {
  width: 100%;
  margin-bottom: 15px;
}

#sixthsection .services > h3 {
  width: max-content;
  font-size: 1rem;
  background-color: #000000;
  padding: 5px 10px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  font-family: 'Times New Roman';
}

#sixthsection .services > h2 {
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 15px;
}

#sixthsection .services > p {
  color: #abafbd;
  font-size: 1rem;
  margin-bottom: 15px;
}

#sixthsection .services #likes {
  float: left;
}

#sixthsection .services #likes img {
  float: left;
}

#sixthsection .services #likes h3 {
  float: left;
  line-height: 100%;
  color: #abafbd;
  font-size: 0.75rem;
  text-transform: capitalize;
}

#sixthsection .services #comments {
  float: right;
}

#sixthsection .services #comments img {
  float: left;
}

#sixthsection .services #comments h3 {
  float: left;
  line-height: 100%;
  color: #abafbd;
  font-size: 0.75rem;
  text-transform: capitalize;
}

#footer,
#footer .section {
  background-color: #04091d;
  min-height: 40vh;
}

#footer .header_content {
  padding-left: 60px;
  padding-top: 50px;
}

#footer #footercontent .normal {
  width: 15%;
  float: left;
  margin-right: 30px;
}

#footer #footercontent .normal h2,
#footer #footercontent .normal p {
  padding-left: 5px;
}

#footer #footercontent .footerlinks h2 {
  color: #fff5e4;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

#footer #footercontent .footerlinks p {
  margin-bottom: 10px;
}

#footer #footercontent .footerlinks a {
  color: #525054;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}

#email {
  width: 25%;
  float: right;
  padding-right: 0;
  position: relative;
}

#footer #footercontent .footerlinks a:nth-child(4),
#footer #footercontent .footerlinks a:nth-child(5),
#footer #footercontent .footerlinks a:nth-child(6) {
  margin-left: 15px;
}

#footer #footercontent .footerlinks input {
  padding-left: 10px;
  width: 90%;
  margin-right: 0;
  height: 50px;
  border-radius: 0px;
  border: none;
}
#footer #footercontent .footerlinks label {
  padding: 9px;
  color: #fff5e4;
  text-align: center;
  background-color: #f9b700;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  vertical-align: middle;
  position: absolute;
  right: 0;
}

#copyright {
  color: #fff5e4;
  text-align: center;
  margin: 50px 0 20px;
}
