* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #222222;
}

/* start header section settings */
#header,
#filter {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
  border: 2px solid red;
}

#header {
  width: 1140px;
  background-image: url('../Images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#filter {
  background-color: rgba(0, 0, 0, 0.75);
}

/* start navbar settings */
#navbar {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
  border: 1px solid rgb(0, 128, 11);
}

#nav_link {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

a {
  padding-right: 10px;
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
  color: #c3bebe;
  text-transform: uppercase;
}

/* end header section settings */
